body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}

header {
    text-align: center;
    background: #222;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

section {
    margin-top: 20px;
    background: white;
    padding: 15px;
    border-radius: 8px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #555;
  }
